/* Element selector */
h1{
    color:red
}
/* Pseudo element */
h1::first-letter{
    color:black
}
/* -------- */
/* Class selector */
.classHeading{
    color:yellow
}
/* Pseudo class */
.classHeading:hover{
    color:blue
}
/* Attribute selector */
h1[class="classHeading"]{
    color:orange
}
/* ----------- */
/* ID Selector */
#idHeading{
    color:brown
}
/* ----------- */
/* The big one */
h1{
    color:blueviolet !important
}